.co-logs-alert-metrics__container {
  border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
  margin: 0 0 var(--pf-global--spacer--md) 0;
  padding: var(--pf-global--spacer--sm);
}

.co-logs-metrics__header {
  margin-bottom: var(--pf-global--spacer--sm);
}

.co-logs-metrics__error {
  min-height: 250px;
}
