.co-logs-toggle-play.pf-c-button {
  background-color: var(--pf-global--BackgroundColor--100);
  border: var(--pf-global--BorderWidth--lg) solid var(--pf-global--BorderColor--100);
  border-radius: 50%;
  height: 32px;
  margin-right: 15px;
  padding: 0;
  width: 32px;
  cursor: pointer;
}

.co-logs-toggle-play.pf-c-button.co-logs-toggle-play--active {
  border-color: var(--pf-global--palette--green-300)
}
