.lv-plugin__error_message {
  margin-bottom: var(--pf-v5-global--spacer--md);
  margin-top: var(--pf-v5-global--spacer--md);
  background-color: transparent;
}

.lv-plugin__table__row-error .pf-v5-c-code-block__pre {
  text-align: left;
}
