.co-logs-table .co-logs-table__expand {
  font-size: var(--pf-v5-global--FontSize--sm);
  --pf-v5-c-table--cell--Width: 50px;
  --pf-v5-c-table--cell--MaxWidth: 50px;
  --pf-v5-c-table--cell--MinWidth: 0px;
  padding: 0;
  vertical-align: middle;
}

.co-logs-table .co-logs-table__details {
  font-size: var(--pf-v5-global--FontSize--sm);
  padding: var(--pf-v5-global--spacer--lg);
  display: block;
}

.co-logs-table .co-logs-table__time {
  --pf-v5-c-table--cell--Width: 270px;
  --pf-v5-c-table--cell--MaxWidth: 270px;
  --pf-v5-c-table--cell--MinWidth: 270px;
  --pf-v5-c-table--cell--WhiteSpace: nowrap;

  font-size: var(--pf-v5-global--FontSize--sm);
  padding: var(--pf-v5-global--spacer--xs);
  font-family: monospace;
  vertical-align: middle;
}

.co-logs-table .co-logs-table__time-header {
  font-size: var(--pf-v5-global--FontSize--md);
}

.co-logs-table .co-logs-table__message {
  font-size: var(--pf-v5-global--FontSize--sm);
  padding: var(--pf-v5-global--spacer--xs);
  padding-right: var(--pf-v5-global--spacer--md);
  font-family: monospace;
  word-break: break-all;
  vertical-align: middle;
  width: 100%;
}

.co-logs-table .co-logs-table__resources {
  --pf-v5-c-table--cell--FontSize: var(--pf-v5-global--FontSize--md);
  margin-top: var(--pf-v5-global--spacer--xs);
}

.co-logs-table__row::before {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  bottom: 3px;
  width: 3px;
  left: 3px;
  background-color: var(--pf-v5-global--disabled-color--200);
}

.co-logs-table__row--expanded::before {
  bottom: 0;
}

.co-logs-table__row--expanded-details::before {
  top: 0;
}

.co-logs-table__severity-critical::before {
  background-color: var(--pf-v5-global--palette--purple-500);
}

.co-logs-table__severity-error::before {
  background-color: var(--pf-v5-global--danger-color--100);
}

.co-logs-table__severity-warning::before {
  background-color: var(--pf-v5-global--warning-color--100);
}

.co-logs-table__severity-info::before {
  background-color: var(--pf-v5-global--palette--green-300);
}

.co-logs-table__severity-debug::before {
  background-color: var(--pf-v5-global--palette--light-blue-400);
}

.co-logs-table__severity-trace::before {
  background-color: var(--pf-v5-global--palette--cyan-200);
}

.co-logs-table__row-info {
  font-size: var(--pf-v5-global--FontSize--xs);
  background-color: var(--pf-v5-global--Background-color--100);
  --pf-v5-c-table--cell--PaddingBottom: var(--pf-v5-global--spacer--xs);
  --pf-v5-c-table--cell--PaddingTop: var(--pf-v5-global--spacer--xs);
}

.co-logs-table__row-info td {
  text-align: center;
}

.co-logs-table__row-info .pf-v5-c-alert {
  text-align: center;
  --pf-v5-c-alert__icon--FontSize: 0.9rem;
}

.co-logs-table__row-info .pf-v5-c-alert__title {
  font-size: 0.8rem;
}

.co-logs-table__row-more-data td {
  text-align: center;
  cursor: pointer;
}

.co-logs-table__row-error,
.co-logs-table__row-streaming {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.co-logs-table__row-header {
  padding: var(--pf-v5-global--spacer--xs);
  font-size: var(--pf-v5-global--FontSize--md);
  vertical-align: middle;
}

.pf-v5-c-table .co-logs-table__row.co-logs-table__row--expanded {
  border-bottom: none;
}
