.co-logs-expression-input {
  display: flex;
  align-items: flex-start;
}

.co-logs-expression-input__form {
  margin-right: var(--pf-global--spacer--md);
  width: 100%;
}

textarea.pf-c-form-control.co-logs-expression-input__searchInput {
  font-family: var(--pf-c-code-block__pre--FontFamily), monospace;
  font-size: var(--pf-c-code-block__pre--FontSize);
}
