.co-logs-toolbar {
  gap: var(--pf-v5-global--spacer--md);
}

.co-logs-severity-filter {
  margin: 0;
}

.co-logs-toolbar .co-logs-expression-input {
  padding-right: var(--pf-v5-c-toolbar__content--PaddingRight);
  padding-left: var(--pf-v5-c-toolbar__content--PaddingLeft);
}
