.lv-plugin__toolbar {
  gap: var(--pf-v5-global--spacer--md);
}

.lv-plugin__severity-filter {
  margin: 0;
}

.lv-plugin__toolbar .lv-plugin__expression-input {
  padding-right: var(--pf-v5-c-toolbar__content--PaddingRight);
  padding-left: var(--pf-v5-c-toolbar__content--PaddingLeft);
}
