.lv-plugin__time-picker__time-options {
  max-height: 200px;
  overflow: auto;
}

.lv-plugin__time-picker__input {
  width: 150px;
}

.lv-plugin__time-picker__error {
  padding-top: 'var(--pf-v5-global--spacer--xs)';
}
