.lv-plugin__stats__card {
  margin-bottom: var(--pf-v5-global--spacer--md);
}

.lv-plugin__stats-section-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--pf-v5-global--BorderColor--100);
}
