.co-stats-title{
    font-size: 16px;
}

.co-stats__content{
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 40px;
}
.co-stats-table{
    background: none;
}

.co-stats-table__header{
    width: 205px;
}
